#content_general{
	
}

#content_connect_to_file{
	
	margin-bottom: 5px;
}

.log_form{
	
	display: inline-block;
}

.log_label{
	
	
}

.log_toggle_button{
	
	padding: 10px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}

.selected_log_toggle_button{
	
	background: blue;
}

.log_button{
	
    padding: 10px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}

#content_log_reader{
	
    height: 500px;
    padding: 5px;
    border: 1px solid;
}

#log_reader{

	height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

#content_log_options{
	
}

.log_match{

    color: red;
    display: inline-block;
}